[2017-12-30 22:23] drparadoxical opened #1 "Generate PR template"
_From @thejourneydude on December 22, 2017 5:54_

In my experience, PR templates provides several benefits to a git repository:

1) Documentation for future developer reference.
2) Makes it easier for code reviewers to review code.
3) Ensures the PR creator reviews their own code before PR submission.

To create a PR template, we can follow [this](https://help.github.com/articles/creating-a-pull-r

[2017-12-30 22:23] drparadoxical commented on #1
If this is still necessary, please issue another PR @thejourneydude and we'll discuss it on the PR itself. Otherwise, please just let me know if this is a moot point now and can/should be closed.

[2017-12-30 22:23] drparadoxical opened #2 "ports and network protocol"
_From @guzzijones on December 25, 2017 21:42_

Adjust ports and network protocol  for testnet and mainnet so as to not interfere with aeon or monero

_Copied from original issue: drparadoxical/aeon-rebase#7_

[2017-12-30 22:23] drparadoxical opened #3 "cherry pick rebase first aeon commit."
_From @guzzijones on December 25, 2017 21:45_

I suspect this one will be difficult.  This would be the first aeon commit not shared with monero. More than likely it contains a lot of fluf like licensing etc.

_Copied from original issue: drparadoxical/aeon-rebase#8_

[2017-12-30 22:23] drparadoxical commented on #3
I was thinking similarly, except that fluff would include usage. One of the things the community is often asking, is how to use any given thing, and as a first commit not shared with Monero, our first commit(s) be to update the README.md and that it include an exhaustive breakdown of usage per executable.

I've got that exhaustive breakdown already for Aeon v0.9.14.0, and am updating it relative t

[2017-12-30 22:23] drparadoxical commented on #3
_From @guzzijones on December 26, 2017 0:34_

I was referring more to the first aeon commit from the aeon branch. But you bring up a bigger issue. Yes we need to clean the readme. Do we do that now or after commits from aeon. Because likely they cross over.

[2017-12-30 22:23] drparadoxical commented on #3
_From @guzzijones on December 26, 2017 0:37_

All in all it doesn't matter either way. So by all means update the readme with whatever you want. We have that first commit cleaned up so we are ready for takeoff.

[2017-12-30 22:23] drparadoxical commented on #3
Been a long day, apologies for being dense, just not fully understanding what you mean. Let me tell you how I see it and if I'm still not understanding you, please keep trying.

Right now, having forked not from aeonix/aeon, but aeonix/aeon-rebase, our starting point was the monero-project/monero tag, so the issues that exist for aeonix/aeon are, by and large, non-issues now. This, and again from

[2017-12-30 22:23] drparadoxical commented on #3
_From @guzzijones on December 26, 2017 5:15_

This issue needs to wait until we have coveralls and buildbot up.  So I am getting ahead of ourselves a bit.

So there should be commits in aeon and monero with the same hash.  Those are from bytecoin.  After that Aeon should have a commit that this "monero" repo (we are using to rebase against) does not.  Basically we don't need to reinvent the wheel

[2017-12-30 22:23] drparadoxical commented on #3
I don't see it as getting ahead of yourself, I think it's simply an aspect of the CI flow of which I was wholly unaware. Whenever work is done, it's committed, that submission should be assumed to have been tested and then tested again anyways by a separate system, and finally, once the submission has been verified as correct and understood to be complete relative to the task or issue it was meant

[2017-12-30 22:23] drparadoxical commented on #3
_From @guzzijones on December 26, 2017 22:7_

Yes exactly.  This issue can be closed moved to Milestone 2.  Milestone 1 is basically: "get shit setup. " :+1:

[2017-12-30 22:23] drparadoxical commented on #3
Indeed.

[2017-12-30 22:24] drparadoxical opened #4 "Install and Configure Buildbot et al. on VPS or VM"
_From @guzzijones on December 26, 2017 0:45_

We will need to setup a build not. Every commit should result in buildable runnable code.

_Copied from original issue: drparadoxical/aeon-rebase#12_

[2017-12-30 22:24] drparadoxical commented on #4
_From @guzzijones on December 26, 2017 0:51_

We really should do this before pushing actual code. Smooth mentioned commits must result in workable software. Dr. Your servers will come in handy here to setup the build bot. Pigeons over at xmr has experience doing this so we are be able to get advice from him.

[2017-12-30 22:24] drparadoxical commented on #4
I'll take this over. Let me do a deep dive to see how much can be handled by Github CI, and where precisely the need for a VPS to house a test node comes into play, if it even comes into play.

I still haven't quite wrapped my head around whether the VPS is even necessary, or if an Aeon testnet is already in existence out there in the wild.

Since you recently picked up the testing work in another

[2017-12-30 22:24] drparadoxical commented on #4
I see what you mean now, @guzzijones. Buildbot handles our CI, removing our need for Github CI and, more importantly, focuses on build health per build - the specific thing that is needed for this type of project, no more. I see now why you recommended Coverity as well, addressing that in discussion of its respective issue.

[2017-12-30 22:24] drparadoxical commented on #4
Stepping away for the evening, but updating all that an AEON-esque domain name and sufficiently sized VM have both been stamped down, and I've got Buildbot configured enough to feel comfortable leaving it be for the night, but making note of stopping point for both myself and so that you're all aware we've got a VPS and easy to remember endpoint as we move forward.

https://build.aeon.direct

[2017-12-30 22:24] drparadoxical opened #5 "Coveralls Integration for Rebase CI Flow"
_From @guzzijones on December 26, 2017 0:46_

Coverity should be setup for unit test coverage.  ** EDIT mistake here meant: - COVERALLS **

_Copied from original issue: drparadoxical/aeon-rebase#13_

[2017-12-30 22:24] drparadoxical commented on #5
Check the Makefile and objectively determine if that's necessary, or if the test build, coverage, fuzz directives are sufficient for testing and coverage.

[2017-12-30 22:24] drparadoxical commented on #5
@guzzijones, Coverity appears to be more of a quality/security analysis, and it appears Coveralls is closer to the type of service used to determine unit test coverage (relative to the code itself).

If I'm not seeing things correctly, by all means point it out, but it appears the following is what we'll need:

1. Buildbot - grades builds and allows for unit/integration/regression/fuzz testing, af

[2017-12-30 22:24] drparadoxical commented on #5
_From @guzzijones on December 26, 2017 5:0_

BuildBot and Coveralls is sufficient.  I had coverity and coveralls mixed up.

[2017-12-30 22:24] drparadoxical commented on #5
_From @guzzijones on December 26, 2017 5:21_

Also I can ping pigeons tomorrow and see what he would charge to spin up buildbot for us.

[2017-12-30 22:24] drparadoxical commented on #5
Ah, thought so, although I bit the work and we can include Coverity in the mix if need be, but we'll just keep that in our bag of tricks for the time being, and as you said, and as I had already agreed with beforehand, Buildbot and Coveralls does indeed appear to be sufficient.

@thejourneydude, care to chime in?

[2017-12-30 22:24] drparadoxical commented on #5
_From @thejourneydude on December 26, 2017 17:22_

Buildbot and Coveralls works for me.

Moving forward we should be sure that for every service proposed to be used in this project, we have a clear reason in doing so. Obviously Buildbot and Coveralls makes sense because it saves us time from having to run tests, can give us a general report of potential tests not covered, etc.

[2017-12-30 22:24] drparadoxical commented on #5
Of the same mind - bottom-up, necessity dictates all, minimalism reigns supreme.

Once I integrate Coveralls into the CI flow so the Buildbot builders absorb and execute coverage testing, I'll return here with specifics. I'll see if I can't get this bit of devops out of our way today so we can lean on our own semi-formal SOP we've been discussing these past few days.

We're almost to the center of

[2017-12-30 22:24] drparadoxical commented on #5
_From @guzzijones on December 26, 2017 22:1_

Sounds like your setting up buildbot and coveralls. Ok let me know if I need to ping pigeons or i misunderstood.  Thanks!

[2017-12-30 22:24] drparadoxical commented on #5
You heard correctly. Buildbot and Coveralls on a VM wired up and triggered on commit to run the battery of builds respective to commit. Getting situated in this branch I made earlier, will need to spend time with configurations, and will need to verify closed loops, but once it's done, should be done.

It's here I saw how we could then move directly and gracefully into development, thus why I'm wo

[2017-12-30 22:24] drparadoxical commented on #5
_From @guzzijones on December 27, 2017 1:0_

could you elaborate on what "complete operating environment", "SPMP" ,  and "SRS" mean?  I am not familiar with these terms yet.

[2017-12-30 22:24] drparadoxical commented on #5
Operating Environment (OE) is a known fancy ass term that's grown over the years to really mean one thing - the general environment in which shit runs, whether it be testing, staging, production. So our Operating Environment here is a VM running Ubuntu 16.04.3 LTS, equipped with Nginx, UFW, Fail2Ban, and of course, Buildbot. We can keep the OE definition roughly this level of specific, as we're no

[2017-12-30 22:24] drparadoxical commented on #5
Here's a good example of horsecockery and why it all ends up being defined within, and as, an "Operating Environment".

We have multiple operating environments, integrated environments, integrated development environments, runtime environments, runtime environments on integrated development environments, integrated development environments capable of existing within integrated environments, and no

[2017-12-30 22:24] drparadoxical commented on #5
_From @guzzijones on December 27, 2017 20:53_

I got it.  Thanks for the elaborate explanation. 👍

[2017-12-30 22:24] drparadoxical opened #6 "Logically and Systematically Chaining PRs between Repositories"
_From @drparadoxical on December 26, 2017 19:9_

In order to keep ourselves on track while satisfying guidelines set forth by Smooth recently, I propose brute-forcing through the following so we can join the systems we're using together with the project management plan and requirements specification.

1. Identify and add milestones to Github project space that reflect overarching work, such as ins

[2017-12-30 22:24] drparadoxical commented on #6
_From @guzzijones on December 26, 2017 21:57_

I like that each PR here will be a PR to Smooth's repo.  That will ensure each PR results in functional software.

[2017-12-30 22:24] drparadoxical commented on #6
That's what I'm thinking, and we should be able to see how best to chain the PRs once the larger building blocks of the milestones/issues are in front of us here shortly (as the first pass, that is, no doubt I'll forgot something or get something wrong in the plan and spec).

[2017-12-30 22:24] drparadoxical commented on #6
_From @guzzijones on December 27, 2017 13:57_

FYi to do a PR to smooth's repo you will need to fork that repo .  We want to consider transitioning to that created repository instead of this one to make PR process simpler.
Not anyones fault in fact i think the creation of this repo spawned Smooth's repo.  So we were a bit ahead of the curve.

[2017-12-30 22:24] drparadoxical commented on #6
_From @routed27 on December 27, 2017 14:11_

Thanks for stating this. I was thinking this was the case but wasn't fully sure.

[2017-12-30 22:24] drparadoxical commented on #6
_From @devopsralf on December 27, 2017 14:21_

I think @guzzijones  you are correct as well. Also Merry Christmas everyone!

[2017-12-30 22:24] drparadoxical commented on #6
_From @guzzijones on December 27, 2017 16:30_

@drparadoxical  go ahead and fork the smooth repo and lets switch over to that one.

[2017-12-30 22:24] drparadoxical commented on #6
_From @routed27 on December 27, 2017 21:31_

@guzzijones Is the plan, therefor, for @drparadoxical to fork the smooth repo, we then fork drparadoxicals version for our work. PRs will go against Dr's version (we can all review, etc). Eventually, drparadoxicals repo will submit PRs against smooths.
 Please correct me as needed.

[2017-12-30 22:24] drparadoxical commented on #6
_From @devopsralf on December 28, 2017 0:0_

That's how I understand it. @routed27

[2017-12-30 22:24] drparadoxical commented on #6
_From @guzzijones on December 28, 2017 0:2_

Yes. So we will have to move these milestones over to that fork as well.

[2017-12-30 22:24] drparadoxical commented on #6
Unless I'm mistaken, what we're working against right now is a clone serving as a stand-alone fork of the Smooth repo, in which we'll be forking ourselves to work against, all to PR against drparadoxical/aeon-rebase in order to finalize and subsequenly PR against aeonix/aeon-rebase.

When all is said and done, we have a clean development and testing cycle, and a clean PR volley from a contributors

[2017-12-30 22:24] drparadoxical commented on #6
_From @guzzijones on December 29, 2017 18:24_

@drparadoxical we cannot do a PR against smooth's repo without first forking it. PR only exist on github not within git.

yes this is a clone, but not a fork.

[2017-12-30 22:24] drparadoxical commented on #6
_From @guzzijones on December 29, 2017 18:26_

either way.  you're going to have to fork Smooths' repo in order to do a PR.  So may as well move over to that fork once you do that.

[2017-12-30 22:24] drparadoxical commented on #6
_From @guzzijones on December 29, 2017 18:31_

go here: https://github.com/aeonix/aeon-rebase.  click fork.  It will appear under your account repositories.

[2017-12-30 22:24] drparadoxical commented on #6
@guzzijones - we're in agreement, I'm assuming you haven't seen the note left in the project planning Gitter this morning: https://gitter.im/aeon-project-planning/Lobby

I've got to clear some assumptions and architecture/design decisions up, run them by Smooth, before I can finish the SPMP and SRS, but it's well understood our PR chaining methodology won't work unless we reset our starting point

[2017-12-30 22:24] drparadoxical commented on #6
But listen, two people catching the fly in the ointment early on is better than neither of us seeing it after getting a week of work into it all, so I appreciate you triple-pointing it out.

[2017-12-30 22:24] drparadoxical commented on #6
_From @guzzijones on December 29, 2017 19:39_

THANKS! nope haven't hit up gitter yet.  we are doing this right!

[2017-12-30 22:24] drparadoxical commented on #6
Indeed. What's fair is fair, and what's right is right.

Tautological, sure, but true is true nonetheless.

[2017-12-30 22:24] drparadoxical commented on #6
_From @guzzijones on December 29, 2017 19:48_

Just fyi, I don't want to start anything until we have everything issued out and people pick stuff. Otherwise we will end up working on the same thing and duplicating efforts.  Once we have milestone 2 worked out things should flow.  You getting the build bot up was awesome.  Not only that but likely more will join seeing as they will also not be dupl

[2017-12-30 22:24] drparadoxical commented on #6
Covered in the PMP overview and logistics. A bit looser than what you suggested, because there's really no stopping anyone from doing anything they'd like, but the gist in the form of reasonable guidelines that can easily be honored without hindering effort is as you've stated, more or less.

The milestones and their respective issues, relative to decisions I believe should be made now instead of

[2017-12-30 22:24] drparadoxical opened #7 "getting paid - sign your commits"
_From @guzzijones on December 29, 2017 18:37_

We should create a folder in the repo for public keys.  Everyone should be signing their commits.  This way we can prove to Smooth we did the work.  @drparadoxical should be in charge of verifying fingerprints for pulled pub keys imo.

_Copied from original issue: drparadoxical/aeon-rebase#16_

[2017-12-30 22:24] drparadoxical commented on #7
Ah, I was under the impression you wanted to keep yourself somewhat hidden, and was respecting that decision. Now everyone's going to see your utils/gpg_keys/guzzi.asc sir!

While I'll absolutely support and stay behind whatever it is that ensures transparency and complete visibility to contributors' work, resetting the starting point to be a direct fork of aeonix/aeon-rebase, and kicking PRs up t

[2017-12-30 22:24] drparadoxical commented on #7
_From @guzzijones on December 29, 2017 19:51_

Agree, agree, just thought of it as a 'cover your ass' type of thing.  Seeing my public key is not really losing any anonymity.

[2017-12-30 22:24] drparadoxical commented on #7
Fair enough, still, anonymity is one of those things I'll not tolerate be threatened, and I figured I'd at least just keep quiet and let you remove that GPG key on your own accord if it was, in fact, something you'd rather not have exposed, since it implies you were/are a part of the Monero team on some level.

I don't give a flying shit, happy to have you aboard, love working with you so far, wil

[2017-12-30 22:26] drparadoxical opened #8 "Generate contributing guideline"
_From @firecrypt on December 22, 2017 19:18_

Writing clear commit messages and keeping the scope of each commit limited helps others review the changes incrementally.

See links for examples.
- [Writing good commit messages](https://github.com/erlang/otp/wiki/writing-good-commit-messages)
- [Setting guidelines for repository contributors](https://help.github.com/articles/setting-guidelines-for-re

[2017-12-30 22:26] drparadoxical commented on #8
Let's stretch this space out a bit and use it to talk about our general SOP when it comes to development, commits, etc.

I don't think we're all in yet, though, a couple of people who joined the team but aren't here yet, so will hold off on getting any deeper with said SOP than my brief take on things below.

1. Pull and merge locally before diving in or back in to your work
2. Commit once you've

[2017-12-30 22:26] drparadoxical commented on #8
_From @firecrypt on December 23, 2017 1:3_

@drparadoxical The development flow is quite different, but I think it ends up working better than SVN. SVN is centralized and git is distributed...we just happen to be using a centralized service and saying that's the official one.

The fundamental difference is that everyone can get a copy and do whatever the hell they want. Add stuff, break shit. What

[2017-12-30 22:26] drparadoxical commented on #8
Ah, how clever. I see how some of this bent functionality is actually meant to serve the developers better. Interesting.

I'll review those links, but am starting to better understand how and why one would want firecrypt/fixes to begin with, where precisely CI benefits us in the pipeline re: git/Github (PR->merge->team scrutiny->CI test/verify->passed->merge complete), and so on.

Well how about t

[2017-12-30 22:26] drparadoxical commented on #8
When it comes to addressing my points, I first want to make sure everyone's here. While anyone can review discussions held and catch themselves up to speed, better to do a bit of informal intake and let ourselves train ourselves up before we start moving fast and breaking shit, as you say.

[2017-12-30 22:26] drparadoxical commented on #8
_From @devopsralf on December 23, 2017 1:35_

@drparadoxical Checking in as per your email. Looks like theres alot to go through and hello to the rest of the folks here.

[2017-12-30 22:26] drparadoxical commented on #8
Welcome. Please do read up, I've been doing the same this fine evening. We'll be gathering 'round the fire for a bit. I'll know when everyone's here, and we'll go from there.

[2017-12-30 22:26] drparadoxical commented on #8
This issue is resolved by way of having now inherited the CONTRIBUTING.md when we cloned the Monero tag as per Smooth's guidelines in his recent Reddit post.

[2017-12-30 22:26] drparadoxical opened #9 "Discussion: fork method"
_From @firecrypt on December 22, 2017 19:27_

Few methods for forking:
1. Fetch Monero and push to this repo (no Monero history)
2. Perform a [bare clone](https://help.github.com/articles/duplicating-a-repository/) (preserves history) and force push to this repo.
3. Fork via github button (I think it may be too late for that though)

I'm in favor of the second option because it allows us to keep t

[2017-12-30 22:26] drparadoxical commented on #9
_From @faissaloo on December 22, 2017 23:2_

I am also in favor of 2, preserving Monero history will make debugging easier and will allow us to keep up easier. Forking via the GitHub button would mean that if for some reason the Monero repository disappeared, so would the Aeon repository so I am very much against that, despite it being an unlikely situation.

[2017-12-30 22:26] drparadoxical commented on #9
We're of the same mind, then. Based on my current understanding, we'll need a bare clone of the Monero repo not only as our rebase starting point (logic here being, Aeon to Monero will be more tedious and difficult than rebasing Monero relative to Aeon configurations, requirements, operations as they exist and as additional functionality is implemented within the effort put forth by rebasing) but

[2017-12-30 22:26] drparadoxical commented on #9
_From @thejourneydude on December 23, 2017 0:22_

What was Smooth's suggested starting point?

[2017-12-30 22:26] drparadoxical commented on #9
Ah, my mistake, he referenced the original hash, but does state that branching the current Monero tree is the best starting point: https://www.reddit.com/r/Aeon/comments/7laim2/20000_aeon_rebase_bountydev_contract_possibly/drlkhxw/?context=3

So it does appear as if the [Monero v0.11.1.0 tag](https://github.com/monero-project/monero/tree/v0.11.1.0) is what he's suggesting, and what we're discussin

[2017-12-30 22:26] drparadoxical commented on #9
_From @thejourneydude on December 23, 2017 0:33_

Unless someone has a convincing argument otherwise (I'm all ears), cloning Monero 0.11.1.0 tag has my vote.

[2017-12-30 22:26] drparadoxical commented on #9
mfa007 may have done this already, as well as gone through some of the initial configuration work to get us working against AEON instead of XMR variable-wise. I'll see if he cloned the tag, and if so, the merging in his PR should effectively serve as this repos starting point.

Would you all prefer to clone and merge in his PR to that, do what I've just stated above, or something else?

[2017-12-30 22:26] drparadoxical commented on #9
_From @firecrypt on December 23, 2017 1:7_

I don't believe that is the case, which is why I raised the issue before we completed the PR.

edit: I have the know how, but not the time tonight to complete this. If it isn't done by tomorrow, I can tackle that.

edit2: I believe mfa007 did option 1 last night.

[2017-12-30 22:26] drparadoxical commented on #9
As per the gitter back and forth, I believe, yes? Unless I'm mistaken, those here are for bare clone of v0.11.1.0 tag, and we'll see what's what when mfa chimes in and lets us know more about his starting point and origin of the PR currently chambered.

Note that nothing has been done to the repo yet. Tickets/issues/discussions/PRs/gitter, but we'll center ourselves before moving any further along

[2017-12-30 22:26] drparadoxical commented on #9
@firecrypt, head over to the discussion for that PR, https://github.com/drparadoxical/aeon-rebase/pull/1, if you wouldn't mind, and see if you and @mfa007 can clear things up real quick. I said my peace, but me and the others need to stay out of it, it's a discussion between the two of you that just hasn't ended yet, in my opinion.

[2017-12-30 22:26] drparadoxical commented on #9
_From @guzzijones on December 23, 2017 17:47_

Let's do #2. Then let's do 5 aeon commits or so and regroup.

[2017-12-30 22:26] drparadoxical commented on #9
Consensus does seem to be for #2, and it you issue a clean and proper PR of the Monero 0.11.1.0 tag, we'll all be able to review and merge it in as our starting point for a quick and dirty 5 commit run as you suggested. Thanks for stepping up.

[2017-12-30 22:26] drparadoxical commented on #9
_From @devopsralf on December 23, 2017 18:31_

So who's doing the actual mirror clone? Doc? I can do it tonight if no one else wants to jump on it today.

[2017-12-30 22:26] drparadoxical commented on #9
@guzzijones will issue the PR for review here in a bit, I believe. He had mentioned elsewhere he wanted to tap specific talent on the shoulder to see if they'd join the fray, so I'm on the lookout for both of those things.

We're going to do a bit of quick and dirty after review and merge of that clean PR, some fast and loose so we can hack away at a handful of AEON commits relative to the clean P

[2017-12-30 22:26] drparadoxical commented on #9
I'm still focused on getting the SPMP and SRS in front of you all, in front of the community, and to Smooth so he can double verify specifics of this initiative and intent. Then we'll regroup by then, holidays will be over, discuss, and move right on into work and knock this thing out.

[2017-12-30 22:26] drparadoxical commented on #9
On a separate note, there will also be partially finished web wallet code in its respective repo, to boot, if you were looking to get your hands dirty with a thing you'll likely be enjoying yourself throughout and within this work, @devopsralf - will inform the team when it's pushed in so all are informed it's fair game to begin beating up and building upon.

[2017-12-30 22:26] drparadoxical commented on #9
_From @guzzijones on December 23, 2017 18:54_

I won't get to it today. @devopsralf go for it.

[2017-12-30 22:26] drparadoxical commented on #9
And don't forget about Christmas and your damn families, gentlemen. It's quite alright if no one gets around to it today, no pressure here.

[2017-12-30 22:26] drparadoxical commented on #9
_From @guzzijones on December 23, 2017 19:25_

Agree. We have concensus on this request.

[2017-12-30 22:26] drparadoxical commented on #9
_From @routed27 on December 23, 2017 22:19_

Understand - Method 2.

[2017-12-30 22:26] drparadoxical commented on #9
_From @devopsralf on December 24, 2017 0:36_

So looks like smooth did the dirty work a few minutes ago. Can we just fork that and start from there?

[2017-12-30 22:26] drparadoxical commented on #9
_From @guzzijones on December 24, 2017 2:4_

Yes please. Dr please fork that and we will switch over to that repo. Saves us the force push or extra merge commit

[2017-12-30 22:26] drparadoxical commented on #9
_From @guzzijones on December 24, 2017 2:5_

Or force push it here. None of us can do a force push.

[2017-12-30 22:26] drparadoxical commented on #9
Not only can we, but it's now a core requirement, which I agree, makes our lives and this work much easier.

Hold, currently waiting an additional team member, and once they've arrived, we'll begin pushing in data and documentation, starting with forking Smooth's fork of the Monero tag (hear you on just force pushing it here, whatever is easiest and most effective, will be done), then updating the

[2017-12-30 22:26] drparadoxical commented on #9
_From @thejourneydude on December 24, 2017 5:14_

@drparadoxical May be a good idea to put all that into a quick note in the Readme so that if any more team members join they will know the project's current status.

[2017-12-30 22:26] drparadoxical commented on #9
Doing so now. Everyone, spot check accordingly, this should be verbatim what I just sent to all of you.

[2017-12-30 22:26] drparadoxical commented on #9
All, please see https://github.com/drparadoxical/aeon-project-planning/issues/4 if it didn't already pop up as a notification, and now that you're collaborators, please root around, poke things, and let me know if I've let any doors opetil sn.

As I said, I'm in contact with Smooth now, and must first build the last part of the dead man's switch required in order for you to have some modicum of tr

[2017-12-30 22:28] drparadoxical opened #10 "What, Where, Who, How - Breaking Some Ground"
_From @drparadoxical on December 23, 2017 0:50_

Team,

Looks like some of us had the gumption, full of piss a vinegar and all, and got some balls rolling. Let's get some basics down so we know where and what for what we've currently got.

1. First, we're missing some people, and I'm tracking them down and making sure they're in on these repositories as collaborators, unless that's just not necess

[2017-12-30 22:28] drparadoxical commented on #10
_From @guzzijones on December 23, 2017 1:34_

I am ready to dive in and help any way I can.  I stick to mostly fringe work on monero since i do have a day job..  I am currently getting myself up to speed on unit testing and mocking.  I am very familiar with git.  I have full confidence in you.  I presume a solid plan is forthcoming.

[2017-12-30 22:28] drparadoxical commented on #10
Welcome. Thank you. Indeed it is.

I'll let my actions and efforts determine whether I'm deserving of your confidence.

Don't quit your day job, but if you do, that's fine, one of my corporations will simply hire you.

I take things pretty seriously, and with a team of people willing to fight together and with me - doubly so.

[2017-12-30 22:28] drparadoxical commented on #10
_From @qskousen on December 23, 2017 1:45_

/u/exuant_bits from Reddit here, @drparadoxical, signing in. So others know, @drparadoxical and I have been talking on Reddit about what I can bring to the table. I am a full stack web dev, php 7+ years, golang (now preferred language) 1+ years. Like guzzijones I do have a full time job and a side project that I am aiming on launching before the end of t

[2017-12-30 22:28] drparadoxical commented on #10
_From @devopsralf on December 23, 2017 2:9_

@drparadoxical Would you mind creating a desktop repo as well. I am making some progress in that. Or once you have the time to add us a collaborators I can do it. Also hi @qskousen , I'll be pitching in my work for the web wallet as well.

[2017-12-30 22:28] drparadoxical commented on #10
Damn fine idea. For anyone who wants to introduce themselves similarly, please and by all means.

/u/drparadoxically here. I'm a genius billionaire philanthropist with decades of experience and knowledge, and haven't had a job for as long as I can remember, I just own a conglomerate is all.

I've built dozens of companies, designed and developed and deployed systems and software locally, nationall

[2017-12-30 22:28] drparadoxical commented on #10
And of course I'm just kidding, I'm not really a billionaire, not there yet unfortunately.

All else, true.

[2017-12-30 22:28] drparadoxical commented on #10
@devopsralf, can't pull the trigger on the desktop repo just yet, but as per our discussion on Reddit, I added it to the planning document I'm working in and on, because I'll run that by Smooth and Katie to see if they want to make it a bounty as well.

In the event it becomes its own bounty, best you just take your work and cash in, in my opinion, unless it's something you believe the team can ta

[2017-12-30 22:28] drparadoxical commented on #10
_From @devopsralf on December 23, 2017 2:31_

@drparadoxical Got it. I read that a late last night so I did not fully absorb that tidbit. Completely makes sense at this point. Onward with the web wallet then.

[2017-12-30 22:28] drparadoxical commented on #10
_From @devopsralf on December 23, 2017 2:34_

As for my full intro;

I am a network and systems administrator by day. I live in the infrastructure world managing a small IT team and two data centers. I also run an AEON mining pool and participate in global hackathons regularly.

[2017-12-30 22:28] drparadoxical commented on #10
Gitter badge has been added to the README.md for aeon-rebase, taking you to aeon-rebase/Lobby, so we've got two separate communities, both for aeon-project-planning and aeon-rebase. I'll create a third for the aeon-webwallet after pushing in the current state of work for said web wallet, to house discussions related to web wallet. Redundant department of Redundancy.

[2017-12-30 22:28] drparadoxical commented on #10
_From @devopsralf on December 23, 2017 2:39_

I also hit the comment button when posting mid thought...its an acquired skill. On the coding side I do C# and lots of scripting with PowerShell. I've been diving into node the last few years as well as hardware design aka nodemcu, arduino etc. My last project won me a trip to China to compete with other like minded individuals. Ok now I'm done!

[2017-12-30 22:28] drparadoxical commented on #10
and thank you @devopsralf, glad to have you aboard.

Now, this sure does feel like herding damn cats. With too many systems, how precisely does one ensure all team members know a team conversation is occurring in a specific location...

I'm thinking I'll broadcast what's going on here and in the gitter channels, and then at least everyone will know where we currently are, what comes next, what our

[2017-12-30 22:28] drparadoxical commented on #10
_From @thejourneydude on December 23, 2017 3:8_

A little bit about myself:

Software engineer (5+ years) with experience in a little bit of everything: Ruby, JS, Swift, C#, Agile scrum master, clean code OCD, etc. etc. Mainly stuck to web/mobile development but don't mind getting my hands dirty with C++. Dabbled with Lightning Network's lnd/lightning app in the past month or two. I'm about to sta

[2017-12-30 22:28] drparadoxical commented on #10
https://github.com/drparadoxical/aeon-project-planning/issues/3

[2017-12-30 22:28] drparadoxical commented on #10
@devopsralf - marry in, makes travel between here and China much easier, in my experience.

@thejourneydude - I'm making note of the fact you used the word 'stuck' in your most recent comment, and will bring it up again later on down the road, so we can see if there's anything that can be done about it.

[2017-12-30 22:28] drparadoxical commented on #10
_From @routed27 on December 23, 2017 4:13_

It wasn't my intent to be fashionably late to the fire but glad to be here.  I see that this ad-hoc assemble can not only produce the long desired Aeon code re-base but help define Aeons future. My goal is to help you get there.

[2017-12-30 22:28] drparadoxical commented on #10
Ground broken, we all seem to be situating ourselves just fine, closing this out now.

[2017-12-30 22:28] drparadoxical opened #11 "Discussion: fork method"
_From @firecrypt on December 22, 2017 19:27_

Few methods for forking:
1. Fetch Monero and push to this repo (no Monero history)
2. Perform a [bare clone](https://help.github.com/articles/duplicating-a-repository/) (preserves history) and force push to this repo.
3. Fork via github button (I think it may be too late for that though)

I'm in favor of the second option because it allows us to keep t

[2017-12-30 22:28] drparadoxical commented on #11
_From @faissaloo on December 22, 2017 23:2_

I am also in favor of 2, preserving Monero history will make debugging easier and will allow us to keep up easier. Forking via the GitHub button would mean that if for some reason the Monero repository disappeared, so would the Aeon repository so I am very much against that, despite it being an unlikely situation.

[2017-12-30 22:28] drparadoxical commented on #11
We're of the same mind, then. Based on my current understanding, we'll need a bare clone of the Monero repo not only as our rebase starting point (logic here being, Aeon to Monero will be more tedious and difficult than rebasing Monero relative to Aeon configurations, requirements, operations as they exist and as additional functionality is implemented within the effort put forth by rebasing) but

[2017-12-30 22:28] drparadoxical commented on #11
_From @thejourneydude on December 23, 2017 0:22_

What was Smooth's suggested starting point?

[2017-12-30 22:28] drparadoxical commented on #11
Ah, my mistake, he referenced the original hash, but does state that branching the current Monero tree is the best starting point: https://www.reddit.com/r/Aeon/comments/7laim2/20000_aeon_rebase_bountydev_contract_possibly/drlkhxw/?context=3

So it does appear as if the [Monero v0.11.1.0 tag](https://github.com/monero-project/monero/tree/v0.11.1.0) is what he's suggesting, and what we're discussin

[2017-12-30 22:28] drparadoxical commented on #11
_From @thejourneydude on December 23, 2017 0:33_

Unless someone has a convincing argument otherwise (I'm all ears), cloning Monero 0.11.1.0 tag has my vote.

[2017-12-30 22:28] drparadoxical commented on #11
mfa007 may have done this already, as well as gone through some of the initial configuration work to get us working against AEON instead of XMR variable-wise. I'll see if he cloned the tag, and if so, the merging in his PR should effectively serve as this repos starting point.

Would you all prefer to clone and merge in his PR to that, do what I've just stated above, or something else?

[2017-12-30 22:28] drparadoxical commented on #11
_From @firecrypt on December 23, 2017 1:7_

I don't believe that is the case, which is why I raised the issue before we completed the PR.

edit: I have the know how, but not the time tonight to complete this. If it isn't done by tomorrow, I can tackle that.

edit2: I believe mfa007 did option 1 last night.

[2017-12-30 22:28] drparadoxical commented on #11
As per the gitter back and forth, I believe, yes? Unless I'm mistaken, those here are for bare clone of v0.11.1.0 tag, and we'll see what's what when mfa chimes in and lets us know more about his starting point and origin of the PR currently chambered.

Note that nothing has been done to the repo yet. Tickets/issues/discussions/PRs/gitter, but we'll center ourselves before moving any further along

[2017-12-30 22:28] drparadoxical commented on #11
@firecrypt, head over to the discussion for that PR, https://github.com/drparadoxical/aeon-rebase/pull/1, if you wouldn't mind, and see if you and @mfa007 can clear things up real quick. I said my peace, but me and the others need to stay out of it, it's a discussion between the two of you that just hasn't ended yet, in my opinion.

[2017-12-30 22:28] drparadoxical commented on #11
_From @guzzijones on December 23, 2017 17:47_

Let's do #2. Then let's do 5 aeon commits or so and regroup.

[2017-12-30 22:28] drparadoxical commented on #11
Consensus does seem to be for #2, and it you issue a clean and proper PR of the Monero 0.11.1.0 tag, we'll all be able to review and merge it in as our starting point for a quick and dirty 5 commit run as you suggested. Thanks for stepping up.

[2017-12-30 22:28] drparadoxical commented on #11
_From @devopsralf on December 23, 2017 18:31_

So who's doing the actual mirror clone? Doc? I can do it tonight if no one else wants to jump on it today.

[2017-12-30 22:28] drparadoxical commented on #11
@guzzijones will issue the PR for review here in a bit, I believe. He had mentioned elsewhere he wanted to tap specific talent on the shoulder to see if they'd join the fray, so I'm on the lookout for both of those things.

We're going to do a bit of quick and dirty after review and merge of that clean PR, some fast and loose so we can hack away at a handful of AEON commits relative to the clean P

[2017-12-30 22:28] drparadoxical commented on #11
I'm still focused on getting the SPMP and SRS in front of you all, in front of the community, and to Smooth so he can double verify specifics of this initiative and intent. Then we'll regroup by then, holidays will be over, discuss, and move right on into work and knock this thing out.

[2017-12-30 22:28] drparadoxical commented on #11
On a separate note, there will also be partially finished web wallet code in its respective repo, to boot, if you were looking to get your hands dirty with a thing you'll likely be enjoying yourself throughout and within this work, @devopsralf - will inform the team when it's pushed in so all are informed it's fair game to begin beating up and building upon.

[2017-12-30 22:28] drparadoxical commented on #11
_From @guzzijones on December 23, 2017 18:54_

I won't get to it today. @devopsralf go for it.

[2017-12-30 22:31] drparadoxical opened #12 "do me first. update commit message. verify access"
_From @guzzijones on December 25, 2017 21:48_

Please adjust the commit log message to readme update. Thanks

_Copied from original issue: drparadoxical/aeon-rebase#9_

[2017-12-30 22:31] drparadoxical commented on #12
Alright, @routed27, as @guzzijones suggested, force pushed that commit message just now, heads up sir.

[2017-12-30 22:31] drparadoxical commented on #12
_From @guzzijones on December 26, 2017 0:32_

Awesome. Thanks team.

[2017-12-30 22:31] drparadoxical opened #13 "my role will be unit tests"
_From @guzzijones on December 26, 2017 0:41_

I am already engaged in monero with unit tests. I have been doing a ton of python unit testing and mocking at work. I plan on using this to learn as much as I can about these two code bases. This will keep me out of others way as well. I can help with other things but that will be my focus.

_Copied from original issue: drparadoxical/aeon-rebase#10_

[2017-12-30 22:31] drparadoxical commented on #13
Godspeed. As long as it doesn't slow you down or get in the way of your efforts, would you part the unit testing related work and be sure to take contrib/{epee|fuzz_testing|rlwrap} and external/{db_drivers|miniupnpc} into consideration?

I believe you mean to dive into tests/ and step through each module as defined (folder by folder), which I believed does what I'm asking above already, but if you

[2017-12-30 22:31] drparadoxical commented on #13
_From @thejourneydude on December 26, 2017 4:20_

Good luck!

As an aside, it may be a good idea to draw up a general set of guidelines for writing unit tests in the  Aeon project. That way, when others start writing unit tests, they have a set of guidelines/best practices to follow.

For example, at one of my previous jobs we wrote up a quick section on testing in the Readme file. We provided lin

[2017-12-30 22:31] drparadoxical commented on #13
_From @guzzijones on December 26, 2017 5:4_

I am not super familiar either so thanks for your recommendations. I will start on them.

[2017-12-30 22:31] drparadoxical commented on #13
In beginning with the Monero tag, we've inadvertently inherited the CONTRIBUTING.md, in which exists strict, yet commonsensical, guidelines.

@thejourneydude, you may want to start there and see if there's anything that's clearly outside AEON community/development expectations, as well as how we're going to follow suit re: Buildbot, Coveralls, Coverity, and whatever aspects of Github Travis CI are

[2017-12-30 22:31] drparadoxical commented on #13
_From @thejourneydude on December 26, 2017 17:35_

I would agree that the CONTRIBUTING.md works well here too. I'll look into this further.

As an aside, there are some clear rules in the CONTRIBUTING.md that we should cover (roles of maintainers, administrators, contributors, etc.) which relates to #11.

[2017-12-30 22:31] drparadoxical commented on #13
_From @guzzijones on December 26, 2017 22:11_

My follow up here is to review contributing.md and return with any changes we need to that doc.  I will be submitting a PR for that specifically if need be.  (clearly there will be if only to change monero to aeon,)

[2017-12-30 22:31] drparadoxical commented on #13
For the CONTRIBUTING.md document, I don't see much else to change, and @thejourneydude, the guidelines within this document do partially pertain to us, but I think for our work together here, it's safe to bypass others. For example, we're all in as administrators+contributors here and now, whatever it takes to get the job done, but this repository is ultimately meant to be absorbed by aeonix/aeon

[2017-12-30 22:31] drparadoxical commented on #13
_From @thejourneydude on December 26, 2017 23:3_

That is a good point Dr. about how this repo will deprecate itself. I was thinking that the CONTRIBUTING.md could be simplified to be more readable for newcomers. But maybe that's not an issue right now because this repo will be deprecated.

The next question to ask is what rules do we keep and what rules do we skip over? Imo, it looks like the fol

[2017-12-30 22:31] drparadoxical commented on #13
My thinking was pretty close to what you just itemized with those two lists, with the only exception being the third point about patches, but only because I doubt we'll run into that. We'll pipeline the commits from aeonix/aeon into the repo and fix/build/test/verify per commit until we're up to the latest Aeon commit, PR that as a single unit of work, or stick to the methodology recently outline

[2017-12-30 22:31] drparadoxical commented on #13
_From @guzzijones on December 27, 2017 1:7_

contributing.md works for me.  This repo will be deprecated so no reason to cloud it up with temporary information.

[2017-12-30 22:31] drparadoxical opened #14 "ppl to step up and review pull requests"
_From @guzzijones on December 26, 2017 0:42_

We will need one person at a minimum to step up and review PRS.

_Copied from original issue: drparadoxical/aeon-rebase#11_

[2017-12-30 22:31] drparadoxical commented on #14
When it comes to PR review, which is ultimately open to all and excludes no one, I'll step up to that.

Also assume that whatever it is, whatever unit of work, that isn't done or covered by someone else, will be done by me.

If integration/merge related work becomes too heavy, we'll cross that bridge when we get there. I'll be keeping one hand down deep in this work, the other up top making sure t

[2017-12-30 22:31] drparadoxical commented on #14
_From @thejourneydude on December 26, 2017 4:4_

I'm happy to help on this as well. Code reviews are one of my strong suits.

If we can get two code reviewers per PR I would be extremely happy. Obviously, anyone else is welcome to review code too and if things get hairy and we only have one code reviewer, I'm ok with that too.

[2017-12-30 22:31] drparadoxical commented on #14
_From @guzzijones on December 26, 2017 5:3_

I think we have a good concensus here.  You two can fight it out. :)

[2017-12-30 22:31] drparadoxical commented on #14
CONTRIBUTING.md speaks to this, and while we'll have to route around certain rules (we're moving quickly, so reviewing a PR here cannot sit for a week, we need to develop, test, issue PR, review in parallel to subsequent dev), informally, for now, I think PRs do need at least two people who intelligently reviewed any given PR, s.t. one serves as the red team and the other as blue. Red team should

[2017-12-30 22:31] drparadoxical commented on #14
_From @thejourneydude on December 26, 2017 16:54_

In terms of PR reviews, that should work for me.

It goes without saying, even though each of us do have specific roles, if something is glaringly obvious the other reviewer missed, we should mention it in our review summaries.

---------

What I would do is push a branch that is NOT master up to the Github repository. Then, create a pull request

[2017-12-30 22:31] drparadoxical commented on #14
Arrived at the same conclusion myself, so great. I'll simply create a develop branch for myself, work against it, and issue PRs from there to origin/master so my work's compartmentalized and under the same strict review process. Repeating our words a 3rd time verbatim for myself, have a nasty cold, off kilter due to whatever it is I'm taking. Christmas colored pills, so I said eh, sure, why not.

[2017-12-30 22:31] drparadoxical commented on #14
_From @guzzijones on December 26, 2017 22:4_

Yes create your own devops branch. Perfect.  Then your work flow is the same as ours.

[2017-12-30 22:31] drparadoxical commented on #14
_From @guzzijones on December 26, 2017 22:13_

I think we are good here. this can be closed in my opinion. :+1:

[2017-12-30 22:31] drparadoxical commented on #14
Agreed, thank you gentlemen.

[2017-12-30 22:33] #11 closed

[2017-12-30 22:34] #1 closed

[2017-12-30 22:34] #3 closed

[2017-12-30 22:34] #8 closed

[2017-12-30 22:34] #9 closed

[2017-12-30 22:34] #10 closed

[2017-12-30 22:34] #12 closed

[2017-12-30 22:34] #13 closed

[2017-12-30 22:34] #14 closed

[2018-01-01 16:53] devopsralf commented on #2
Question about this. Will we be starting from a zero height or somehow

[2018-01-01 23:09] drparadoxical commented on #2
We're going to be faking our own blockchain on our own testnet, and I'm not sure yet whether a fake hard fork at starting height of where that's forked, or starting from 0, is how it will go down yet. We'll know soon enough, for now, I'm focusing my full attention on nailing down every last little detail of the work so I can get the plan and breakdown in front of you all.

Hoping to hear back from

[2018-01-03 02:26] greenbay121982 opened #16 "Buildbot Configurations for Rebase CI Flow"
Readme updates:
~~1. change Monero to Aeon~~
~~2. change donation addresses~~
~~3. change buildbot links~~
~~4. remove coverity for now.~~
~~5. disable coveralls for now - until we setup~~
6. add in the remaining architectures for the buildbot instance and CI flow.

[2018-01-10 14:41] fabloisgone opened #22 "Block reward diff by version."
FABLO HAS GOT THIS ONE. Try and take it and I’ll get you with my trident

[2018-01-10 15:40] greenbay121982 commented on #22
testnet block reward should set to current AEON reward block time and reward.  Minimum block size also be set to monero current mininum block size.  This is due to ringct being larger.  Emission does not need to change as we already have conensus to use Monero emission.  Code is in get_block_reward.

This all will result in testnet having a different emission curve that aeon did from day one.  We

[2018-01-11 04:09] drparadoxical commented on #22
@fabloisgone confirmed as announced, short of strict SOP being formally agreed upon and placed in public record, all kindly acknowledge agent in play on specified field, kindly keep clear.

Get it, sir.

[2018-01-11 14:46] drparadoxical commented on #16
@greenbay121982 - suggestion: update issue and create to-do list, extending any point requiring further parting out. Example: buildbot links, point 3, becomes a checklist for all relevant builds, and we'll tick them off as we get them up, running, in proper working order accordingly.

[2018-01-14 06:29] fabloisgone opened #25 "Investigating subaddresses"
Hey just want to throw it out there that my next project will be investigating what (if any) changes need to be made regarding subaddresses and the integrated address prefixes.

[2018-01-15 16:45] drparadoxical commented on #25
@fabloisgone has announced, all please be aware. This work also coincides with the rebase API and web wallet work that's being finished up, and I'll work with you directly to make sure we minimize redundant effort.

[2018-01-15 17:53] drparadoxical commented on #2
Work is completed and PR merged in already, closing now.

[2018-01-15 17:53] #2 closed

[2018-01-15 17:54] drparadoxical commented on #7
Work is finished and PR is merged in, closing now.

[2018-01-15 17:54] #7 closed

[2018-01-15 17:55] drparadoxical commented on #6
Work is embedded in SPMP in project planning, neighboring repository and its objectives, deliverables.

[2018-01-15 17:55] #6 closed

[2018-01-15 17:57] drparadoxical commented on #4
Nodes have been established, @greenbay121982 taking over all remaining configuration work as it pertains to this effort in issue #16

[2018-01-15 17:57] #4 closed

[2018-01-15 17:58] drparadoxical commented on #5
Marking as part of coverage testing milestone to ensure Coveralls finds its way into the bigger picture of the rebase related work being conducted in this project.

[2018-01-15 18:21] drparadoxical opened #26 "Wallet RPC Server and API Modification and Configuration"
Bring the wallet RPC server and API functionality to adhere to AEON Rebase specification and compliance with Rebase configuration, with issue 2 in drparadoxical/aeon-webwallet being conducted in tandem with this work to ensure that project's requirements for that issue may be partially satisfied in doing so.

[2018-01-15 18:36] drparadoxical opened #27 "Integrate Mnemonics Configuration and Behavior"
Verify, validate, correct codebase to ensure correct seed words are used and same translation system in place re: 24 vs. 25 word seed system.

Note that the Web Wallet JavaScript already does this, as per current working version shared in with the team, so comparative analysis between it's utils and the rebase code may allow for this issue to be approached and completed more efficiently, @devopsra

[2018-01-15 18:41] drparadoxical opened #28 "Identify, Integrate AEON Rebase Version"
Determine the version/subversion best used for the rebase itself, integrate into codebase, issue PR with changes to files using version accordingly. Consensus on PR review will take it from there.

[2018-01-15 18:45] drparadoxical opened #29 "Exhaustive Review of Prior Commit History"
review all AEON commits for consensus code changes.  If consensus code changes are found these need to have tasks created.

Issue here will remain open until both the commit history log as well as subsequent issues from consensus made upon review of said log have been completed.

Primary issue assigned to @greenbay121982 for creation of log itself. Issues will be parted out and assigned from there

[2018-01-16 02:28] drparadoxical opened #30 "Update Header License Text"
Update descriptions in files containing the license information 'Copyright (c) 2014-2017, The Monero Project' to 'Copyright (c) 2017-∞, AEON, The Monero Project'

[2018-01-16 02:31] drparadoxical opened #31 "Adjust Variable and Method Names"
Adjust any and all instances of 'monero' used within variable names, defines, methods, and so on, to 'aeon'

[2018-01-16 02:49] drparadoxical opened #32 "Update Project Markdown Files"
Make necessary adjustments to update the root level Markdown files to reflect the AEON project and its requirements, processes, and so on. Involves updating the following files:

1. CONTRIBUTING.md
2. README.md
3. README.i18n.md

[2018-01-16 03:02] drparadoxical opened #33 "Update Images, Logos, Etc."
Update any instance of the Monero logo and its use to the AEON logo.

[2018-01-16 03:14] routed3 commented on #30
Copyright information found in root level markdown files will be updated by issue #32 and can be excluded from this issue.

[2018-01-16 03:32] drparadoxical opened #34 "AEON Package Installations"
Assumes issue #31 has been completed.

Note that the Arch Linux, Snap, and Void Linux packages are going to require the rebase be adopted before such efforts can be put forth, as we need acceptance of the code to be confirmed before such measures can even be considered our responsibility.

1. Arch Linux Package
   * Requires we hoist a package build to the Arch Linux User Repository
2. Brew
   * C

[2018-01-16 03:33] drparadoxical commented on #30
Also note that the initial description has changed to show we're updating the license information to 'Copyright (c) 2017-∞, AEON, The Monero Project' as per that found in the footer of www.aeon.cash.

[2018-01-16 03:55] fabloisgone commented on #22
Fixed

[2018-01-16 03:55] #22 closed

[2018-01-16 05:05] drparadoxical opened #37 "Update URLs for Updates, Downloads, Etc."
The following files contain Monero specific URLs for updates, downloads, DNS related functionality and requests, checkpoints, seeds, donation address, and so on.

We will need to systematically go through and replace what can be replaced, but at least make note of instances where an equivalent AEON service/host is required in order for the replacement to be effective.

1. /src/common/updates.*
2.

[2018-01-16 05:05] drparadoxical opened #38 "Update wallet2 Implementation"
The current wallet2 implementation has a variety of defines with specific values that should, at the very least, be examined to ensure they correspond to the configuration values and settings for the AEON rebase and AEON itself.

[2018-01-16 06:54] devopsralf commented on #27
#43 In for review.

[2018-01-16 07:18] devopsralf commented on #37
I can take this

[2018-01-16 07:55] drparadoxical commented on #37
Copy that, @devopsralf has announced, all.

[2018-01-16 16:51] drparadoxical commented on #27
@devopsralf - will you verify that we can correctly regenerate a wallet using a 24 word mnemonic, a seed, from a wallet created with v0.9.14.0? src/mnemonics/electrum-words.cpp:245, word_to_bytes, is something I had to change up when I first approached rebasing, and line 253 gives me paused since that mod 4 would catch our 24 word mnemonic.

[2018-01-16 17:14] drparadoxical opened #46 "AEON Donations"
1. Identify the AEON developer donation endpoint, whether it be a wallet address or a wallet address and a URL as well
2. Update all instances of donate.getmonero.org, or functionality/description allowing for or defining the wallet address and, if available, URL for donations, to allow donations for, and describe, the AEON developer donation endpoint

[2018-01-16 17:15] #30 closed

[2018-01-16 17:32] drparadoxical opened #47 "Define Testing, Verification, and Validation Procedure"
/tests/ contains a great deal of code, and we'll need to begin updating corresponding tests whenever code is added, modified, removed.

@guzzijones, @routed3 - assigning this to the two of you, as you seem best suited for the following, but please treat assignments as suggestions, as do as you'd like accordingly.

1. Establish SOP for how we need to go about managing test code while managing rebas

[2018-01-16 18:24] routed3 commented on #46
Per the following  [Link:](https://bitcointalk.org/index.php?topic=641696.0)

**AEON Address:**  WmsSWgtT1JPg5e3cK41hKXSHVpKW7e47bjgiKmWZkYrhSS5LhRemNyqayaSBtAQ6517eo5PtH9wxHVmM78JDZSUu2W8PqRiNs

**View Key:** 71bf19a7348ede17fa487167710dac401ef1556851bfd36b76040facf051630b

**Bitcoin address:** 12Cyjf3qV6qLyXdzpLSLPdRFPUVidvnzFM

Reference issues #37 and #32 as needed.

[2018-01-16 19:02] devopsralf opened #49 "Investigate Block Reward"
The blocks are currently spitting out way more coin then defined.

[2018-01-16 21:30] drparadoxical commented on #31
Resolved and merged as of PR #48

[2018-01-16 21:30] #31 closed

[2018-01-16 22:50] greenbay121982 commented on #16
added windows builder to buildbot. added badge for windows.  added ubuntu builder and ubuntu buildbadge

[2018-01-17 00:28] greenbay121982 opened #51 "decide block version and hardfork functionality"
Aeon current doesn't have versions on the block.
Monero does have version on the block.  Our current testnet is stamping blocks with version 1.
Propose we enable block version stamping for Aeon. This will require changing the hardfork code to accommodate for early blocks not being stamped.  We will need to decide on a block height and approx date to hardfork and enable block stamping for mainnet.

[2018-01-17 00:36] drparadoxical commented on #51
The absence of a signature is also a signature, so we'll always have a first version simply be identifying blocks without version, or whatever, information. Pickin' up what I'm puttin' down, sir?

[2018-01-17 02:54] drparadoxical opened #52 "Anybody seen a bottle lying around"
Single malt, can't miss it. Probably find my pants somewhere around that too.

I'll need someone to come with $500 cash to the local precinct as well, in about, oh, I'd say 45 minutes.

[2018-01-17 03:15] routed3 commented on #52
God damn it, not again. Mom's gonna be pissed.

[2018-01-17 03:19] greenbay121982 commented on #51
yes agreed. version '0' has no sig.

[2018-01-17 17:03] drparadoxical commented on #52
Your mom's not mad.

She needs $500 cash as well, make some room in the car, will you.

[2018-01-18 02:38] fabloisgone commented on #38
Assigning this one to myself

[2018-01-18 02:44] drparadoxical commented on #38
All yours. Take no prisoners, sir.

[2018-01-18 02:52] fabloisgone opened #57 "Remove checksum to form 24 word AEON seed"

[2018-01-18 02:59] routed3 commented on #32
Closed by PR #55

[2018-01-18 02:59] #32 closed

[2018-01-18 12:00] greenbay121982 opened #59 "aeon fee multiplier vs monero priority"
# Here is the commit in question

commit fb1f1589f5aed136b885c62d75fa172e22eb62af
Author: iamsmooth <iamjaviersmooth@gmail.com>
Date:   Sat Oct 7 21:24:59 2017 +0000

    Add fee multiplier feature to simplewallet

-------------------------------------------------------------------------------------------
# Concensus question
So do we add this functionality into aeon-rebase to allow current shell

[2018-01-18 14:19] guzzijones commented on #57
@routed3 this is done right.

[2018-01-18 15:22] guzzijones opened #60 "Concensus Protocol Updates - Tag Current (PreBase) Blocks as V1 and Rebase Blocks as V2"
testnet switch to v2 blocks.  no protocol changes .  blocks will be stamped v1

[2018-01-18 15:24] guzzijones opened #61 "V1 blocks notify community and miners ( I know confusing v1 is first version stamped)"
Eventually we will need to start getting the word out to miners and the community that v1 will  be a hard fork of aeon.

[2018-01-18 16:41] drparadoxical commented on #61
This would violate guidelines and disrupt AEON unnecessarily. If and when this project, as a whole, as a rebase of the current version 0.9.14.0 of AEON, is swapped in, the work we're doing should allow for that swap to be seamless.

We're approaching the point where we'll need to identify optional upgrades to existing wallets, but if everything goes according to plan, a block mined and AEON coins

[2018-01-18 17:10] drparadoxical commented on #52
Bail posted, meds taken, issue resOFFMYDAMNLAWNISAID.

[2018-01-18 17:10] #52 closed

[2018-01-18 18:06] guzzijones commented on #61
Certainly not attempting a coup here. Monero code already has hardfork baked in.  This issue can become a pre pre discussion on how we assimilate current aeon with rebase aeon.

[2018-01-18 18:08] guzzijones opened #62 "Determine Aeon Concensus Protocol Update mechanism for aeon"
bake this into rebase aeon so it is able to accept mainnet blocks.  V1 rebase should stamp like aeon current.
Test via testnet.

[2018-01-18 18:22] guzzijones commented on #61
In order for dynamic block size formula to work we will need to change the minimum block size. Because the ringct txs are so much bigger.  Does that require a hard fork?

[2018-01-18 18:24] guzzijones commented on #60
this would change aeon's minimum block size in line with Monero's current to fix dynamic block  sizing for ringct.  As far as i know we would need to HF.

[2018-01-18 19:49] drparadoxical commented on #60
I wonder if this is why one of the initial guidelines suggested we stop short of fully implementing RingCT for the rebase...we'll vet this with the team, do some investigation, make some decisions. Moving this conversation over to our dev channels now.

[2018-01-18 19:50] drparadoxical commented on #61
Understood, thanks for the clarification sir. As I mentioned on a neighboring issue, we'll bring this to the team's attention on the dev channels and figure out what direction we need to take, there.

[2018-01-18 20:56] guzzijones commented on #61
another option would be to pull in bullitproofs from monero.  This is not concensus protocol update dependent.  It makes transactions smaller and the current aeon min block size may just work.  I would need to research the penalty for adding one block above median using bullitproof blocks which should be smaller anyway.,

[2018-01-18 20:58] guzzijones commented on #51
In essance we decided rebase is version 1 which is concensus aeon hard fork 2.

[2018-01-18 20:58] #51 closed

[2018-01-18 21:10] drparadoxical commented on #61
That's a brilliant idea - if it allows for us to rebase in such a way that it doesn't disrupt current operations or violate guidelines, it's most certainly worth investigating further.

[2018-01-18 22:48] drparadoxical opened #65 "Blockchain Pruning"
After analyzing the light-node branch of iamsmooth/aeon, blockchain pruning functionality doesn't appear to require a great deal of effort, so I'll open this up, work against it, and issue a PR shortly with the necessary modifications and additions to allow for it.

[2018-01-19 00:52] drparadoxical commented on #65
This work is going to require further investigation, as only popping the top most block of the blockchain in this LMDB implementation is currently codified and allowed.

Pruning, based on how it's defined within the light-node branch of iamsmooth/aeon, searches from the top of the blockchain all the way down to PRUNING_DEPTH, set within the configuration file as 10k to equate to roughly a month wo

[2018-01-19 01:20] greenbay121982 commented on #61
I also spoke with a prominent member of the aeon community and he was fine with a consensus protocol update.  In Monero these are every 6 months so it is a norm for the community.  Ideally though bullitproofs will shrink transactions enough we don't even bother.

[2018-01-19 23:41] devopsralf commented on #57
Yeah #27 was already created and done. I'll update it. We can close this.

[2018-01-19 23:43] devopsralf commented on #27
I will look deeper into this.

[2018-01-20 01:09] devopsralf commented on #27
We can recover just fine. Confirmed multiple wallets across a few nodes.

[2018-01-20 01:28] routed3 commented on #57
Close to #27

[2018-01-20 01:28] #57 closed

[2018-01-20 01:28] routed3 commented on #27
Closed to completed controlled testing.

[2018-01-20 01:28] #27 closed

[2018-01-20 03:40] guzzijones commented on #37
I got the checkpoints. Enough here to split up

[2018-01-20 13:33] devopsralf commented on #37
Have at it guzzi. I'll focus on updates only

[2018-01-21 00:49] greenbay121982 opened #72 "make release-static-linux-x86_64 fails buildbot"
does this even build on someones local repo on linux?

[2018-01-21 01:25] drparadoxical commented on #72
It does on mine. I think the precedence of the builds is vital to successful building. I've been following the order in which .PHONY has the builds listed, found at the bottom of the root directory's Makefile.

[2018-01-22 21:09] routed3 commented on #72
Reference #80

[2018-01-23 01:47] #72 closed

[2018-01-23 02:34] greenbay121982 opened #82 "Allow ring 1 sigs"
Aeon allows ring 1 sigs. Investigate and implement.

[2018-01-23 03:27] drparadoxical commented on #34
Update /Dockerfile to use testnet settings/configuration, adjust ports, IPs, flags accordingly. Close the loops on being able to docker deploy, and once confirmed, integrate this into the pre-production e2e testing in some way, shape or form, so that people can trust the docker build itself.

Snap is out of our hands until such time that we can release a snap itself, shelved until rebase complete.

[2018-01-23 03:31] drparadoxical commented on #37
Updates are meaningless until there's a repo in which is designated as the update point. @routed3, add this to pre-production procedure, or support and maintenance todo.

Checkpoints don't exist for AEON testnet, and exist for AEON mainnet, so are irrelevant past what's already been merged into the codebase. This is considered done.

DNS utils pass.

/src/p2p/net_node.* has been updated to use our

[2018-01-23 04:19] devopsralf opened #83 "Update OpenAlias Settings"
Update OpenAlias settings to work with AEON.

OpenAlias or OA allows you to create a DNS entry for your wallet address. Current code uses Monero specific code. Update to reflect AEON

[2018-01-23 04:23] drparadoxical opened #84 "DNS/OpenAlias Adoption, Integration"
As a part of the ongoing DNS struggle, determine whether we need to Full Monty the OpenAlias related functionality and integrations. If we do need to oa1:aeon this thing, then we're going to need to get cracking by extending https://openalias.org/ accordingly, using electroneum as a prime example of actual extension and usage relative to rebase work.

Also note that unit tests and existing code re

[2018-01-23 04:27] routed3 commented on #49
Fix issued

[2018-01-23 04:27] #49 closed

[2018-01-23 04:29] drparadoxical opened #86 "DNS Related Unit Tests"
/tests/unit_tests/address_from_url.cpp has testing relative to DNS utilities that apparently do not exist. Let's verify if this unit test needs to be put on the back-burner for now, given that Monero team acknowledged current DNS implementation is not fully functional, not ready to go, and thus not subject to unit testing and a part of coverage testing.

@greenbay121982 - I also need for you to ta

[2018-01-23 04:30] drparadoxical commented on #84
@devopsralf - phase this out if you already addressed it with the issue you pushed in minutes before I did for this one here. Take what meat is juicy, transplant, kill mine accordingly.

[2018-01-23 04:31] routed3 commented on #84
Reference #85

[2018-01-23 04:34] fabloisgone commented on #82
Im on it.

[2018-01-23 04:51] drparadoxical commented on #38
Note that this is filled with version split nightmares. get_fee_multiplier applying different values based on priority based on version, hinged on the assumption we're using anything other than the latest version's configurations.

Version specific conditional logic and corresponding code blocks riddle this beast.

In my opinion, wallet2.cpp/h doesn't need updating, it needs a napalm baptism, all

[2018-01-23 04:58] drparadoxical opened #87 "Spot check all variables and values within /src/ringct"
For every variable within every file within /src/ringct, go through and make sure values haven't been changed. If and when they have, cross-reference the utilities in the web wallet JavaScript, as I've done this work already for a separate platform, so someone can make quick work of this needle and haystack bullshit.

[2018-01-23 05:03] drparadoxical opened #88 "Mnemonics Logic"
/src/mnemonics/electrum-words.cpp needs to be updated to not shit the bed in the event of experiencing a 24 word mnemonic. This is another great place where you can go to electrum-words.cpp:253, see the mod 4 culprit, and cross-reference work that's already been done in JavaScript for the web wallet, and follow suite accordingly.

I know words_to_bytes needs to be "back-ported", so to speak, but r

[2018-01-24 00:05] #46 closed

[2018-01-24 04:01] devopsralf commented on #88
On it.

[2018-01-27 03:17] devopsralf commented on #84
Closing as is a duplicate of #83 , sorry Doc!

[2018-01-27 03:17] #84 closed

[2018-01-27 07:49] drparadoxical commented on #28
As per Smooth's recent response to our planning QA, he states "Open to independent judgment. Ideally provide justification for why your choices are the best".

Let's nip this in the bud gentlemen:

1. It was initially upped by a minor version or build (depending on how one chooses to interpret the current version sequence) to v0.9.15.0, but I believe it's well understood this work is far beyond bu

[2018-01-27 07:56] drparadoxical commented on #84
Copy that, no worries, just wanted to make sure you saw #83 before using it or pruning it, is all - thank you sir.

[2018-01-27 19:41] drparadoxical commented on #87
Good to go, client-side corresponds to server-side identically now, all other aspects of RingCT being handled by other already identified issues, all of which team members have announced themselves and thus spoken for. No core work to check in, so simply closing with this comment and moving forward.

[2018-01-27 19:41] #87 closed

[2018-01-28 01:39] devopsralf commented on #28
Yeah. This makes sense to me. I'm good for this. You mean "Christmas Time" right?

[2018-01-28 01:49] drparadoxical commented on #5
@guzzijones - I've got to yank #5 and #16 away from you and @routed3 for a spell, this is a tangled web of nonsense, but an easy sprint if it's a one man job. We've got Coveralls, Travis CI, and Buildbot up, but again, need to yank it away from you blokes it that's alright, I'll have to venture into docker deployment territory if we're to have Travis CI pretend as if it, too, is in the 21st centur

[2018-01-28 01:50] drparadoxical commented on #28
Chrimmuh Tae

[2018-01-29 02:04] devopsralf commented on #83
Pretty sure this can be closed out. Works. We may want to add to the README a blurb about OA and how to set it up.

[2018-01-29 02:05] devopsralf commented on #88
10-4, This can be closed out then.

[2018-01-29 02:05] #88 closed

[2018-01-29 17:29] drparadoxical commented on #83
Do you want to assume that README update is a part of this issue so you can commit and PR against the issue, closing it out and showing effort for it accordingly, or should I take it over or carve out another issue since you've got that PR #85 in the mix already chief?

[2018-01-29 18:26] devopsralf commented on #83
Yeah makes sense. I will put together something.

[2018-01-29 19:35] abhishek1104 commented on #59
I think it would be OK to exclude it.
Also it was not the part of stable aeon release.

Various priority levels are doing the part of it.(multi factor)

Suggestion --
1) Priority 0 -- Please keep it lower than Monero (As they failed to reduce the min fee level,which will though change with BPs).
Also Aeon is supposed to handle micro payments.Reduced fee in priority 0 will promote more usage,more a

[2018-01-29 22:02] greenbay121982 commented on #59
So multiplier isn't even part of aeon current release?  That changes things.

[2018-01-29 23:00] drparadoxical commented on #59
@guzzijones - it's in the code, but not configurable or available to end-users of simplewallet CLI.

@abhishek1104 - the amount of the fees relative to set priorities aren't under our control. I can tell you they're significantly less than the current, hard 0.01 fee for AEON v0.9.14.0, but when it comes to the guidelines and how they've essentially dictated how the fee itself is calculated, it's s

[2018-01-30 03:20] greenbay121982 commented on #62
additionally, test a concensus hard fork using testnet.

[2018-01-30 04:56] abhishek1104 commented on #59
That seems fair enough as fees would be quite less than 0.01 anyways without any need left for multiplier.

[2018-01-30 05:07] drparadoxical opened #97 "Verify all CLI commands"
Relative to their descriptions, verify all CLI commands for all executables.

For example: 'export_multisig <filename>' for the wallet-cli is actually 'export_multisig_info <filename>' in practice.

This effort is comparative in nature, in that the work involved is curation and correction, nothing more.

[2018-01-30 12:06] greenbay121982 opened #99 "aeon commit 57ff3e8 - prioritize tx by fee"
There is version specific code in current monero src/cryptonote_core/tx_pool.cpp - fill_bock_template
1.  We can stick with version 5 of the monero code and name it version 1 for aeon (after rebase).
2.  If this is used to verify anything we may need to insert version 0 (aeon rebase) code as an else clause.
3. verify it is at least a good sort and go with monero tx sorting.
4. aeon discourages < 3

[2018-01-31 02:43] devopsralf commented on #83
Ok closing this out with completion of #98

[2018-01-31 02:43] #83 closed

[2018-01-31 03:05] greenbay121982 commented on #99
I am on this.

[2018-01-31 04:13] greenbay121982 commented on #60
should be v1.

[2018-01-31 05:22] drparadoxical commented on #47
Gentlemen - as per PR #100, I'd like to suggest we push any and all work related to testing and V&V into disposition phase. Let me know if you think it's still worth lingering here in this ticket and these topics past what's just recently been pushed in and up for team review.

[2018-01-31 05:49] drparadoxical commented on #99
@greenbay121982 - suggestion: compile all existing commits from the 'Commit Log' team spreadsheet that are marked as being consensus code, itemized them as requirements here on this issue, and we can decide which of those are able to be tackled by our rebase development and effort, and which need to be moved into disposition documentation and strategy/planning for the rebase submission review itse

[2018-01-31 14:13] #5 closed

[2018-02-01 06:11] #33 closed

[2018-02-01 06:13] drparadoxical commented on #16
Removed 'ready for review' label, but leaving open, because we'll round this work off by adding in the remaining architectures for the buildbot instance and CI flow.

[2018-02-01 15:28] greenbay121982 commented on #99
Ok i will just run through each commit and mark it consensus or not.  I need to review each individually as the commit message is generic in some instances.  I will add this to my original commit issue and we can review.  That way we can attack better.

[2018-02-01 23:51] drparadoxical commented on #99
You've got me following up behind you as double-blind as well, so don't worry too much about it. We've discussed this work, but now that you're done, I'll be making an independent pass of the commit history, bringing along a reasonable amount of objectivity in doing so. Will make sure prior work is given the historical credit it is due.

And great job guzz. This exhaustive review beneath the issue

[2018-02-02 03:03] #61 closed

[2018-02-02 03:05] greenbay121982 commented on #59
Excellent.
Closing.

[2018-02-02 03:05] #59 closed

[2018-02-02 03:06] greenbay121982 commented on #82
done.

[2018-02-02 03:06] #82 closed

[2018-02-02 11:58] #62 closed

[2018-02-02 11:59] greenbay121982 commented on #60
I closed the other issue related to this so we don't get confused.

[2018-02-02 12:24] fabloisgone commented on #25
Nothing needed here since this is new functionality for aeon

[2018-02-02 12:24] #25 closed

[2018-02-02 12:25] fabloisgone commented on #97
I don’t mind taking this one if no one has yet

[2018-02-02 16:30] drparadoxical commented on #97
@fabloisgone has announced, all be advised. And no, @fabloisgone, I only created the issue, but in creating it I was not implying I had announced my intent to approach it, so the runway's clear sir. Godspeed.

[2018-02-07 21:45] greenbay121982 commented on #60
v0 = current aeon

[2018-02-07 21:45] #60 closed

[2018-02-08 11:32] #99 closed

[2018-02-09 02:32] drparadoxical commented on #47
Shuttering, as we're outside of the project's need for this, and any tasks pertaining to planning will be of that phase for that project accordingly.

[2018-02-09 02:32] #47 closed

[2018-02-09 02:33] drparadoxical commented on #29
Damn fine work @greenbay121982 - post-rebase effort seems to be focused on cleanup and tightening up, so our work here is done, and we'll move ourselves on into collaborative effort, and similar cleanup and tightening up, with the others.

[2018-02-09 02:33] #29 closed

[2018-02-09 02:34] drparadoxical commented on #28
PR to aeonix/aeon-rebase submitted, so at this point, we've made our suggestion, and actual naming conventions, version conventions, etc., are left up to leadership to define and convey.

[2018-02-09 02:34] #28 closed

[2018-02-09 02:35] drparadoxical commented on #16
What those remaining architectures are, we'll leave to the community to decide, and for leadership to dictate, accordingly.

[2018-02-09 02:35] #16 closed

[2018-02-09 04:19] BigslimVdub opened #109 "Build fail OSX High Sierra"
High Sierra installed
CMake 3.10.2 installed
openSSL installed
Homebrew installed
Aeon 9.14 installed via home-brew
CMD line tools installed and updated

cd Aeon
Make
------------------------
mkdir -p build/release
cd build/release && cmake -D BUILD_TESTS=ON -D CMAKE_BUILD_TYPE=release ../.. && /Library/Developer/CommandLineTools/usr/bin/make
-- The C compiler identification is AppleClang 9.0.0.90

[2018-02-10 01:36] BigslimVdub commented on #109
Successful Build with Cmake on High Sierra requires the following:
1-Install osx Command Line Tools;
Copy paste in terminal: xcode-select --install

Home-brew installed (https://brew.sh)
2- Copy Paste this in Terminal to install homebrew;
/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"

then run the following
Brew install wget
Brew install openssl

[2018-02-10 01:49] routed3 commented on #109
Use the -jx flag where x is the number of threats you can afford for a faster build next go around.

[2018-02-10 05:53] wyattp11 commented on #109
I am still getting the header error for zmq.hpp - any suggestions? already tried manual copy of zmq.hpp to the include folder. This is on an old MBP 2009 so only able to run El Capitan, but was able to build Aeon previously.

[2018-02-10 21:49] drparadoxical commented on #109
@wyattp11 - on the README.md, there's a breakdown of dependencies with minimum version requirements. When you have a moment, will you run down that list on El Capitan and see if there are any obvious discrepancies?

[2018-02-10 22:52] wyattp11 commented on #109
Well, one step forward, one back: I had copied zmq.hpp to the wrong include folder(aeon-rebase-master) so that change allowed me to start building, got to around 66% but then stopped on boost errors. I had already upgraded boost going down the list of dependencies and it gave a compatibilty warning when I tried to build that 1.60 might not work - now trying to rollback.

[2018-02-11 01:27] BigslimVdub commented on #109
Does your cpu support AES?

I know about 62/64% was the LMDB building when I built. Possibly may be an issue with that portion on yours or processor/ram issue? I know that OS X stopped supporting older hardware with Sierra probably for performance reasons.

[2018-02-11 02:51] wyattp11 commented on #109
It clears LMDB, set as default DB type. It stops right the end now ~78-82%  just after building blockchain export and import. It's a core 2 duo, not sure if it has AES - don't think so?

I'm still trying to roll back boost to the lowest version. Here is what I'm getting:

` Undefined symbols for architecture x86_64:
  "_ERR_remove_thread_state", referenced from:
      boost::asio::ssl::detail::ope

[2018-02-11 04:19] drparadoxical commented on #109
@wyattp11 - looks like some libraries are being linked in correctly, we may need to hunt down when and where additional ld flags may be required throughout the project's CMakeLists.txt.

Will you try 'make debug-static-all' to see if linking the libraries statically helps get you through a build?

[2018-02-11 06:10] wyattp11 commented on #109
That did it, thank you. Here is what popped up during the make, not sure if this helps at all. Looks like it was mostly related to the tests:

`/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/ranlib: file: libunbound.a(checklocks.c.o) has no symbols
/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/ranlib: file: libunbound

[2018-02-11 21:36] drparadoxical commented on #109
Fantastic. This does help, thank you for the output dump - @fabloisgone, you had begun moving in the direction of vetting the 32/64 bit arch build discrepancies, and I think some of the data @BigslimVdub and @wyattp11 have provided here will help us better understand how to approach that work, generally speaking. Closing this out, but pinging you and making note of this here for reference.

Thanks

[2018-02-11 21:36] #109 closed

[2018-02-11 22:14] greenbay121982 opened #114 "--log-file doesn't seem to be functional in aeond"
test --log-file in aeond with --testnet and --log-level 4.  It should output to a file the stdout log.  If it doesn't work here it probably also doesn't work in Monero.  So test that too.

[2018-02-11 22:34] drparadoxical commented on #114
Announcing myself.

[2018-02-12 01:03] #114 closed

[2018-02-13 00:42] greenbay121982 opened #119 "aeon-wallet-cli --generate-from-view-key [filename]"
paste in your standard address at the prompt.
see error:
unable to parse address.

[2018-02-13 01:10] greenbay121982 commented on #119
need --testnet flag on testnet

[2018-02-13 01:10] #119 closed

[2018-02-13 01:28] greenbay121982 commented on #114
also, --log-file saves to your data dir.  So this is fully functional.

[2018-02-13 01:30] greenbay121982 opened #120 "unit-test fill_block_template ; tx_pool.cpp"

[2018-02-13 01:31] greenbay121982 commented on #97
I wonder if gtest can handle this?  Like it would just check for an exception instead of actually running the program fully.

[2018-02-14 02:28] greenbay121982 opened #121 "daemon - returned not all requested objects"
src/cryptonote_protocol/cryptonote_protocol_handler.inl:930 returned not all requested objects (context.m_requested_objects.size()=75), dropping connection

This seems to happen in early blocks.  And yes after this happens the sync connection is dropped.  Other peers are attempted.  It never seems to recover.  The block number was well under 30,000 and happened multiple times.  Restarting the daem

[2018-02-14 02:28] #120 closed

[2018-02-14 02:46] drparadoxical commented on #121
@guzzijones - if you check to see when and why the Monero team dropped the BLOCKS_SYNCHRONIZING_DEFAULT_COUNT down to 20, I'll dig into the logic behind severed connections and block request validation (outside of verification, specifically, receipt and count of blocks as it relates to auto-banning peers when counts are misaligned).

[2018-02-14 02:49] greenbay121982 commented on #121
[code]

[2018-02-14 02:51] greenbay121982 commented on #121
[code]

[2018-02-14 02:57] greenbay121982 commented on #121
commit 7007bd1489edcf7a50e9f2b2e079096557ef7a0a
Author: moneromooo-monero <moneromooo-monero@users.noreply.github.com>
Date:   Tue Aug 8 11:05:11 2017 +0100

    Change default block sync size from 200 to 20

    With the new sync algorithm, the network overhead will be masked
    as the thread adding blocks isn't interrupted by network calls
    anymore. This should reduce memory usage a lot duri

[2018-02-14 03:03] greenbay121982 commented on #121
seeing these:
[code]

[2018-02-14 03:06] greenbay121982 commented on #121
stuck at 99644 currently

[2018-02-14 03:11] Eatmylol opened #122 "Net Hashrate doesn't change"
There is something strange with the net hashrate on testnet. It doesn't seem to chage that much.

Here is a log from daemon: (started mining with 8 threads @ 1 KH/s)

    https://pastebin.com/b2ZpaHtf

Why isn't the difficulty changing? I need to say that net hashrate was 40 H/s @ ~11500 diff before I started mining..

[2018-02-14 03:28] drparadoxical commented on #121
For now, --db-salvage got the sync back on track, and --db-sync-mode defaulting to fast:async:1000 is likely aiding the underlying issue of Mr. Levin issuing those warnings. process_payload_sync_data being looked at right now, let's see if we can get to the bottom of this.

[2018-02-14 04:23] drparadoxical commented on #122
The difficulty is changing between blocks, based on the log output you posted, so you might be expecting changes in difficulty relative to your experiences with the AEON mainnet. The difficulty on the mainnet is far greater than that on our testnet blockchain, but exploring lower heights on the mainnet blockchain yields similar results and differences in difficulty between blocks.

[2018-02-14 05:24] greenbay121982 commented on #121
we need to find out why it canot do the handshake with a new peer after it drops connection

[2018-02-14 17:49] guzzijones commented on #122
Are you asking about hash rate or difficulty or both?

[2018-02-15 19:08] Eatmylol commented on #122
Both.